@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: "Varela Round", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}
#basic-navbar-nav .nav-link {
	color: #f8f9fa !important;
}
